@model IEnumerable<knjiznica.Models.Posudba>

@{
    ViewData["Title"] = "Kašnjenja";
}

<h1>@ViewData["Title"]</h1>

<div style="height: 450px; overflow-y: scroll; background-color: #fff">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knjiga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datumPosudbe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datumVraćanja)
                </th>
                <th>
                    Zakasnina
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var numberOfDays = (DateTime.Now - item.datumPosudbe).TotalDays;
                var zakasnina = numberOfDays * 0.5;
            <tr>
                @if (numberOfDays > 31)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Knjiga.Naslov)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datumPosudbe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datumVraćanja)
                    </td>
                    <td>
                        @Math.Round(zakasnina,2).ToString() kn
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>